<%- include('includes/header') %>

<div class="add-todo">
  <h3>Add Todo</h3>
  <form action="/todos" method="POST" class="add-todo-form">
    <input
      type="text"
      name="task"
      placeholder="What do you have in mind today?"
      required
    />
    <input type="date" name="due" min="<%= (new Date()).toISOString().split('T')[0] %>"/>
    <button type="submit" class="add-button">Add</button>
  </form>
</div>

<% if (todos.length > 0) { %>
    <% if(todos[0].dataValues.uncomplete) { %>
        <div class="todo-list">
            <h3>Todo List</h3>
            <ul>
                <% todos.forEach(todo => { %>
                    <% if (!todo.status) { %>
                    <li class="todo-item">
                        <form action="/todos/update/<%= todo.id %>" method="POST" class="todo-task">
                            <input type="checkbox" class="todo-checkbox" name="completed" onchange="this.form.submit()"
                            <%= todo.status ? 'checked' : '' %>>
                            <span class="<%= todo.status ? 'completed' : '' %>" data-full-text="<%= todo.task %>">
                                <%= todo.task %>
                            </span>
                        </form>
                        <span class="todo-due">
                            <% if (todo.due) { %>
                                <%= todo.due %>
                            <% } else { %>
                                No due date
                            <% } %>
                        </span>
                        <form action="/todos/delete/<%= todo.id %>" method="POST" class="todo-delete">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    <% } %>

    <% if(todos[0].dataValues.uncomplete != todos.length) { %>
        <div class="todo-list completed-todos">
            <h3>Completed</h3>
            <ul>
                <% todos.forEach(todo => { %>
                    <% if (todo.status) { %>
                    <li class="todo-item">
                        <form action="/todos/update/<%= todo.id %>" method="POST" class="todo-task">
                            <input type="checkbox" class="todo-checkbox" name="completed" onchange="this.form.submit()"
                            <%= todo.status ? 'checked' : '' %>>
                            <span class="completed" data-full-text="<%= todo.task %>">
                                <%= todo.task %>
                            </span>
                        </form>
                        <span class="todo-due">
                            <% if (todo.due) { %>
                                <%= todo.due %>
                            <% } else { %>
                                No due date
                            <% } %>
                        </span>
                        <form action="/todos/delete/<%= todo.id %>" method="POST" class="todo-delete">
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </li>
                    <% } %>
                <% }) %>
            </ul>
        </div>
    <% } %>
<% } else { %>
    <h3 class="todo-list">No todos found</h3>
<% } %>

<%- include('includes/footer') %>